/*
*   Screen sizes
\*===================================================*/
$small: 640px;
$medium: 1090px;
$large: 1280px;

/*
*   fonts
\*===================================================*/
$font: 'Raleway-Regular', sans-serif;
$font-bold: 'Raleway-Bold', sans-serif;
$fontNoto: 'NotoSerif-Regular', sans-serif;
$fontNoto-bold: 'NotoSerif-Bold', sans-serif;
$fontNoto-bolditalic: 'NotoSerif-BoldItalic', sans-serif;
$fontNoto-italic: 'NotoSerif-Italic', sans-serif;
